@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500&family=Roboto+Mono&display=swap");

$font-size-base: clamp(1rem, 0.34vw + 0.96rem, 1.52rem);
$font-size-lg: clamp(1.68rem, 0.8vw + 1.4rem, 1.86rem);
$font-size-xl: clamp(2.2rem, 2.38vw + 1.85rem, 2.1rem);
$color-links: hsl(229, 18%, 17%);
$color-bg: hsl(225, 20%, 8%);

@mixin smol-buttons {
    position: absolute;
    filter: invert(100%);
    cursor: pointer;
}

@mixin text-gradient {
    background: linear-gradient(90deg, #10998e 0%, #1bb8a9);
    -webkit-animation: rainbow 5s ease infinite;
    animation: rainbow 5s ease infinite;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

html {
    font-family: Lexend Deca, sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;

    ::selection {
        background-color: rgb(66, 92, 209);
        color: white;
    }
}

body {
    font-size: $font-size-base;
    color: white;
    background: $color-bg;
    margin: 0;
    will-change: transform;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    margin: auto;
    padding: 3em;
    max-width: 40em;
}

.lightmode {
    color: black;
    background: white;

    .top-icons {
        filter: invert(0%) !important;

        &:hover {
            filter: invert(30%) !important;
        }
    }

    .overlay {
        background: darken(white, 5%);
    }

    footer {
        background: #1b212c;
        color: white;
    }

    .bottom-icons {
        a {
            filter: invert(0%) !important;

            &:hover {
                filter: invert(30%) !important;
            }
        }
    }
}

.lightmode::-webkit-scrollbar {
    &-track {
        background-color: invert($color-bg, 85%);
    }

    &-thumb {
        background-color: invert($color-bg, 65%);
        border-radius: 20px;

        &:hover {
            background-color: invert($color-bg, 50%);
        }
    }
}

.navbar {
    padding-top: 32px;

    .top-icons {
        filter: invert(100%);
        transition: all 150ms ease;

        &:hover {
            filter: invert(70%);
        }
    }

    .menu-toggle {
        left: 1em;
        display: none;
        @include smol-buttons;
    }

    .brand-nav {
        font-weight: 600;
        left: 2.7em;
        font-size: 1.2em;
        @include smol-buttons;
        filter: invert(0%) !important;
    }

    .nav-links {
        position: absolute;
        padding-left: 2em;
        padding-top: 3px;
        left: 8em;

        a {
            padding-left: 0.7em;
            padding-right: 0.7em;
            font-size: 1em;
        }
    }

    .light-mode-toggle {
        right: 1.5em;
        @include smol-buttons;
    }

    .github-logo {
        right: 3.6em;
        @include smol-buttons;
    }
}

.top-icons:active,
.bottom-icons > a:active {
    scale: 85%;
}

.close-toggle {
    left: 1em;
    padding-top: 1.1em;
    @include smol-buttons;
}

.small-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1em;
    padding: 1em 0 0 0;
}

.big-card-grid {
    display: grid;
    gap: 1em;
    padding: 1em 0 0 0;
}

.overlay {
    width: 0;
    height: 100vh;
    position: fixed;
    z-index: 1;
    background: lighten($color-bg, 7%);
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden !important;
    transition: all 300ms ease;

    a {
        padding: 12px;
        font-size: $font-size-xl;
    }
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    display: grid;
    place-items: center;
}

.hero-section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1em;
    margin-bottom: 2em;

    article {
        h1 {
            @include text-gradient();

            &::selection {
                background-color: rgb(90, 137, 212);
                color: inherit;
                -webkit-text-fill-color: white !important;
            }
        }

        @keyframes rainbow {
            from {
                filter: hue-rotate(0deg);
            }
            to {
                filter: hue-rotate(-1turn);
            }
        }

        p {
            max-width: 25em;

            &:first-child {
                margin: 100px !important;
            }
        }
    }
}

.hero-image {
    border-radius: 50%;
    margin-top: 2.5em;
    margin-right: 2.2em;
    width: 172px;
    height: 172px;
}

.projects-home {
    padding-top: 2.5em;
    padding-bottom: 1em;
    text-align: center;
}

.about-section {
    padding: 1em;
    max-width: 40em;
}

.contact-section {
    padding: 3em 0;
    display: grid;
    place-items: center;

    p {
        max-width: 20em;
        text-align: center;
    }

    span {
        @include text-gradient();
        cursor: pointer;
        transition: all 150ms ease;
        font-weight: 500;

        &::selection {
            background: rgb(90, 137, 212) !important;
            color: inherit;
            -webkit-text-fill-color: white !important;
        }
    }
    .bottom-icons {
        margin-top: 1.25em;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        a {
            width: 24px;
            height: 24px;
            filter: invert(100%);
            margin: 0 14px;
            transition: all 150ms ease;

            &:hover {
                filter: invert(70%);
            }
        }
    }
}

footer {
    margin-top: auto;
    display: grid;
    place-items: center;
    padding: 1.2em 0;
    background: #1b212c;

    p {
        margin: 0.2em;
        font-size: 0.85em;
    }

    a {
        color: rgb(70, 113, 255) !important;
        transition: all 150ms ease;
    }
}

.icons-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 0.5em;
}

.div-icons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.icons-property {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

h1 {
    font-size: $font-size-xl;
}

h2 {
    font-size: $font-size-lg;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all 150ms ease;

    &:hover {
        color: rgb(35, 152, 167);
    }
}

.links {
    color: rgb(92, 130, 254);
    transition: all 150ms ease;

    &:hover,
    &:active {
        color: rgb(22, 174, 194)
    }
}

body::-webkit-scrollbar {
    width: 10px;

    &-track {
        background-color: lighten($color-bg, 5%);
    }

    &-thumb {
        background-color: lighten($color-bg, 20%);
        border-radius: 20px;

        &:hover {
            background-color: lighten($color-bg, 30%);
        }
    }
}

@media (max-width: 768px) {
    .hero-section,
    .navbar > .menu-toggle {
        display: block;
    }
    .navbar {
        padding-top: 28px;
    }
    .nav-links {
        display: none;
    }
}

@media (min-width: 768px) {
    .overlay {
        display: none;
    }
}
