$font-size-base: clamp(1rem, 0.34vw + 0.96rem, 1.52rem);
$font-size-lg: clamp(1.68rem, 0.8vw + 1.4rem, 1.86rem);
$font-size-xl: clamp(2.2rem, 2.38vw + 1.85rem, 2.1rem);
$color-bg: hsl(225, 20%, 8%);

@font-face {
    font-family: "Lexend Deca";
    src: url("/static/Lexend.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@mixin smol-buttons {
    position: absolute;
    filter: invert(100%);
    cursor: pointer;
}

@mixin card-grid {
    display: grid;
    gap: 1em;
    padding: 1em 0 0 0;
}

html {
    font-family: Lexend Deca, sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;

    ::selection {
        background-color: rgb(66, 92, 209);
        color: white;
    }
}

body {
    font-size: $font-size-base;
    color: white;
    background: $color-bg;
    margin: 0;
    will-change: transform;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    margin: auto;
    padding: 3em;
    max-width: 40em;
}

.lightmode {
    color: black;
    background: white;

    .overlay {
        background: darken(white, 5%);
    }

    .bottom-icons,
    .top-icons,
    .top-icons > a {
        filter: invert(0%) !important;
    }
}

.lightmode::-webkit-scrollbar {
    &-track {
        background-color: invert($color-bg, 85%);
    }

    &-thumb {
        background-color: invert($color-bg, 60%);
        border-radius: 20px;

        &:hover {
            background-color: invert($color-bg, 50%);
        }
    }
}

.navbar {
    padding-top: 32px;

    .top-icons {
        filter: invert(100%);
    }

    .menu-toggle {
        left: 1em;
        display: none;
        @include smol-buttons;
    }

    .brand-nav {
        font-weight: 600;
        left: 2.7em;
        font-size: 1.2em;
        @include smol-buttons;
        filter: invert(0%) !important;
    }

    .nav-links {
        position: absolute;
        padding-left: 2em;
        padding-top: 3px;
        left: 8em;
        font-size: 1em;

        a {
            padding: 0 0.7em;
        }
    }

    .light-mode-toggle {
        right: 1.5em;
        @include smol-buttons;
    }

    .github-logo {
        right: 3.6em;
        @include smol-buttons;
    }
}

.close-toggle {
    left: 1em;
    margin-top: 1.5em;
    @include smol-buttons;
}

.small-card-grid {
    @include card-grid();
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
}

.big-card-grid {
    @include card-grid();
}

.overlay {
    width: 0;
    height: 100vh;
    position: fixed;
    z-index: 1;
    background: lighten($color-bg, 7%);
    overflow: auto;
    overflow-y: hidden !important;
    transition: all 300ms ease;

    a {
        padding: 12px;
        font-size: $font-size-xl;
    }
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    display: grid;
    place-items: center;
}

footer {
    display: grid;
    place-items: center;
    padding: 1.2em 0;
    background: #1b212c;
    color: white;
    font-size: 0.85em;

    p {
        margin: 0.2em;
    }
}

h1 {
    font-size: $font-size-xl;
}

h2 {
    font-size: $font-size-lg;
}

a {
    color: inherit;
    text-decoration: none;
}

.links {
    color: rgb(67, 139, 255);
}

body::-webkit-scrollbar {
    width: 10px;

    &-track {
        background-color: lighten($color-bg, 5%);
    }

    &-thumb {
        background-color: lighten($color-bg, 20%);
        border-radius: 20px;

        &:hover {
            background-color: lighten($color-bg, 30%);
        }
    }
}

@media (max-width: 768px) {
    .overlay,
    .nav-links,
    .navbar > .menu-toggle {
        display: block;
    }

    .nav-links {
        display: none !important;
    }
}
