---
import "../styles/main.scss";
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 Error" description="Yeah, it doesn't exist.">
    <div class="centered">
        <span class="social-icons-spacing">
            <svg
                width="192px"
                height="192px"
                viewBox="0 0 487 397"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
            >
                <g id="#664500ff">
                    <path
                        fill="#664500"
                        opacity="1.00"
                        d=" M 125.15 16.12 C 139.13 11.83 151.30 2.40 166.01 0.58 C 176.81 0.61 187.74 5.55 194.81 13.78 C 203.66 24.74 215.51 32.70 224.31 43.69 C 232.08 52.09 240.03 61.91 240.02 73.97 C 241.69 89.97 224.88 103.68 209.54 100.58 C 203.06 99.10 196.73 95.70 192.99 90.05 C 185.59 77.32 174.40 67.31 163.12 58.07 C 144.68 65.62 126.24 73.18 107.86 80.87 C 100.75 83.90 92.73 86.61 85.07 83.93 C 73.09 80.99 64.52 68.51 66.13 56.29 C 67.28 46.99 73.56 38.94 81.80 34.71 C 95.95 27.83 111.01 23.03 125.15 16.12 Z"
                    ></path>
                    <path
                        fill="#664500"
                        opacity="1.00"
                        d=" M 151.40 70.30 C 166.72 67.43 182.20 81.51 180.97 97.02 C 181.92 113.39 163.55 127.28 148.09 121.87 C 136.32 119.13 127.83 106.95 128.99 94.97 C 129.14 82.71 139.33 71.86 151.40 70.30 Z"
                    ></path>
                    <path
                        fill="#664500"
                        opacity="1.00"
                        d=" M 331.41 102.42 C 340.97 101.23 350.90 99.67 360.01 103.96 C 368.87 107.61 373.82 117.03 375.20 126.09 C 375.43 137.92 367.33 149.80 355.58 152.68 C 345.76 155.08 335.24 153.39 325.63 156.77 C 332.93 171.61 321.16 190.13 305.44 192.57 C 288.63 195.70 272.83 179.62 274.63 162.90 C 266.12 164.59 257.50 164.79 248.93 166.06 C 234.44 168.24 218.39 158.26 217.12 142.99 C 214.88 129.44 224.92 115.49 238.53 113.49 C 269.64 110.95 300.65 108.19 331.41 102.42 Z"
                    ></path>
                    <path
                        fill="#664500"
                        opacity="1.00"
                        d=" M 140.43 166.34 C 146.61 164.73 152.95 166.75 159.00 168.05 C 189.43 176.46 219.41 186.43 249.25 196.74 C 274.22 205.21 298.65 215.24 323.84 223.06 C 361.41 236.24 399.59 247.46 437.52 259.49 C 447.44 262.27 455.19 271.13 456.81 281.29 C 459.37 293.92 450.03 306.50 438.17 310.15 C 432.39 311.63 426.23 311.15 420.55 309.41 C 357.03 290.05 293.76 269.74 231.59 246.37 C 202.47 237.07 173.77 226.18 144.08 218.91 C 130.71 218.41 118.43 206.70 118.95 193.02 C 118.09 180.33 128.10 168.58 140.43 166.34 Z"
                    ></path>
                </g>
                <g id="#ffcc4dff">
                    <path
                        fill="#ffcc4d"
                        opacity="1.00"
                        d=" M 194.81 13.78 C 199.89 12.75 205.11 12.91 210.22 13.65 C 227.55 15.29 244.99 16.80 261.92 21.11 C 292.14 29.18 323.13 35.69 351.35 49.65 C 367.30 58.37 380.20 71.41 394.16 82.83 C 419.59 107.89 445.00 133.52 463.91 164.07 C 473.34 180.93 478.81 199.81 481.10 218.94 C 484.48 230.59 485.51 242.64 487.00 254.63 L 487.00 259.37 C 485.54 280.73 479.33 302.57 464.98 318.97 C 454.04 332.59 437.62 340.12 421.35 345.31 C 395.78 351.94 373.99 367.56 350.07 378.11 C 328.69 388.21 305.58 393.99 282.20 397.00 L 248.80 397.00 C 231.67 394.90 214.64 391.41 198.78 384.40 C 212.52 388.32 228.37 379.56 231.68 365.53 C 234.56 355.19 230.66 344.45 223.21 337.10 C 253.20 337.72 283.07 333.81 312.99 332.14 C 326.63 331.41 338.48 318.82 337.54 305.00 C 338.11 288.79 321.63 275.95 305.99 278.76 C 254.74 284.50 203.17 283.44 151.80 286.62 C 150.23 270.61 146.28 254.84 140.22 239.93 C 137.53 233.18 133.48 226.62 127.13 222.77 C 116.14 215.27 99.79 218.38 91.99 229.02 C 85.84 236.79 84.80 248.04 88.95 256.96 C 92.64 264.84 96.28 273.12 96.70 281.92 C 95.58 288.07 90.61 292.52 88.25 298.17 C 74.65 281.23 63.32 262.48 48.23 246.76 C 27.95 224.47 6.57 200.71 0.00 170.36 L 0.00 155.72 C 2.98 141.51 3.92 126.78 9.08 113.09 C 11.49 105.67 15.86 99.14 19.00 92.03 C 25.27 76.60 36.27 63.59 48.30 52.30 C 66.46 36.41 87.47 22.73 111.22 17.17 C 115.77 15.98 120.49 16.10 125.15 16.12 C 111.01 23.03 95.95 27.83 81.80 34.71 C 73.56 38.94 67.28 46.99 66.13 56.29 C 64.52 68.51 73.09 80.99 85.07 83.93 C 92.73 86.61 100.75 83.90 107.86 80.87 C 126.24 73.18 144.68 65.62 163.12 58.07 C 174.40 67.31 185.59 77.32 192.99 90.05 C 196.73 95.70 203.06 99.10 209.54 100.58 C 224.88 103.68 241.69 89.97 240.02 73.97 C 240.03 61.91 232.08 52.09 224.31 43.69 C 215.51 32.70 203.66 24.74 194.81 13.78 M 151.40 70.30 C 139.33 71.86 129.14 82.71 128.99 94.97 C 127.83 106.95 136.32 119.13 148.09 121.87 C 163.55 127.28 181.92 113.39 180.97 97.02 C 182.20 81.51 166.72 67.43 151.40 70.30 M 331.41 102.42 C 300.65 108.19 269.64 110.95 238.53 113.49 C 224.92 115.49 214.88 129.44 217.12 142.99 C 218.39 158.26 234.44 168.24 248.93 166.06 C 257.50 164.79 266.12 164.59 274.63 162.90 C 272.83 179.62 288.63 195.70 305.44 192.57 C 321.16 190.13 332.93 171.61 325.63 156.77 C 335.24 153.39 345.76 155.08 355.58 152.68 C 367.33 149.80 375.43 137.92 375.20 126.09 C 373.82 117.03 368.87 107.61 360.01 103.96 C 350.90 99.67 340.97 101.23 331.41 102.42 M 140.43 166.34 C 128.10 168.58 118.09 180.33 118.95 193.02 C 118.43 206.70 130.71 218.41 144.08 218.91 C 173.77 226.18 202.47 237.07 231.59 246.37 C 293.76 269.74 357.03 290.05 420.55 309.41 C 426.23 311.15 432.39 311.63 438.17 310.15 C 450.03 306.50 459.37 293.92 456.81 281.29 C 455.19 271.13 447.44 262.27 437.52 259.49 C 399.59 247.46 361.41 236.24 323.84 223.06 C 298.65 215.24 274.22 205.21 249.25 196.74 C 219.41 186.43 189.43 176.46 159.00 168.05 C 152.95 166.75 146.61 164.73 140.43 166.34 Z"
                    ></path>
                </g>
                <g id="#f5900cff">
                    <path
                        fill="#f5900c"
                        opacity="1.00"
                        d=" M 91.99 229.02 C 99.79 218.38 116.14 215.27 127.13 222.77 C 133.48 226.62 137.53 233.18 140.22 239.93 C 146.28 254.84 150.23 270.61 151.80 286.62 C 203.17 283.44 254.74 284.50 305.99 278.76 C 321.63 275.95 338.11 288.79 337.54 305.00 C 338.48 318.82 326.63 331.41 312.99 332.14 C 283.07 333.81 253.20 337.72 223.21 337.10 C 230.66 344.45 234.56 355.19 231.68 365.53 C 228.37 379.56 212.52 388.32 198.78 384.40 C 188.67 380.30 179.92 373.37 171.19 366.91 C 163.15 372.96 152.16 375.12 142.69 371.30 C 134.77 367.82 127.87 362.34 119.77 359.20 C 112.70 356.40 105.56 353.31 99.91 348.09 C 86.79 335.57 82.49 315.17 88.25 298.17 C 90.61 292.52 95.58 288.07 96.70 281.92 C 96.28 273.12 92.64 264.84 88.95 256.96 C 84.80 248.04 85.84 236.79 91.99 229.02 Z"
                    ></path>
                </g>
            </svg>
        </span>
        <h1 class="four-oh-four"><span class="text-gradient">404</span> Error</h1>
        <h2>Sorry, it doesn't exist.</h2>
    </div>
</Layout>
<style lang="scss">
    

    .centered {
        display: grid;
        place-items: center;
    }
</style>
