---
import SEO from '../SEO.astro';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---
<head>
    <SEO
      title="About - Lance Ross"
      description="I'm Lance, a front-end web developer based in Philippines. You can find more about me here."/>  
</head>

<Layout title="About - Lance Ross">
	<main>
		<h1>About Me</h1>
        <p>
            I'm Lance, a front-end web developer based in the Philippines. I enjoy building projects using good ol' HTML, CSS, and JavaScript. I also use many front-end frameworks like <a href="https://angular.io" target="_blank" rel="noopener nofollow">Angular</a> and <a href="https://getbootstrap.com" target="_blank" rel="noopener nofollow">Bootstrap</a>.
        </p>
        <p>
            When not busy with doing web development stuff, I play different video games, plays guitar, and does exercises.
        </p>
        <h1>Skills</h1>
        <h2>Programming Languages</h2>
        <ul>
            <li>Python - I learned this language just for fun and as a hobby.</li>
            <li>JavaScript  - My favorite programming language!</li>
        </ul>
        <h2>Web Frameworks</h2>
        <ul>
            <li>Bootstrap - I picked this over Tailwind because it is easier.</li>
            <li>Angular - One of my favorite JavaScript frameworks!</li>
            <li>Firebase - I use this backend service for most of my projects.</li>
        </ul>
        <h1>Biography</h1>
        <p>
            Lance Ross is a Web developer in the Philippines learning different web frameworks like <a href="https://angular.io" target="_blank" rel="noopener nofollow">Angular</a> and <a href="https://getbootstrap.com" target="_blank" rel="noopener nofollow">Bootstrap</a>. When not busy with doing web development stuff, he plays different video games, plays guitar, and does exercises.
        </p><br>
		<hr>
        <ul role="list" id="menu" class="link-card-grid">
			<Card
				href="/"
				title="Home"
				body="Go back to my homepage."
			/>
			<Card
				href="/blog"
				title="Blog"
				body="I have a blog on Dev Community! You should visit it."
			/>
			<Card
				href="/projects"
				title="Projects"
				body="Here are all my projects from my GitHub."
			/>
			<Card
				href="/contact"
				title="Contact"
				body="Come say hi to me and follow with my socials!"
			/>
		</ul>
        <footer>
            <p>Designed and built by Lance Ross</p>
            <p>Built using <a href="https://astro.build" target="_blank" rel="noopener nofollow">Astro</a> and <a href="https://sass-lang.com/" target="_blank" rel="noopener nofollow">Sass</a></p>
        </footer>
	</main>
</Layout>