---
import SEO from "../SEO.astro";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<head>
    <SEO
        title="About - Lance Ross"
        description="I'm Lance, a front-end web developer based in Philippines. You can find more about me here."
    />
    <!-- Google tag (gtag.js) -->
    <script
        type="text/partytown"
        src="https://www.googletagmanager.com/gtag/js?id=G-ZHW2LJ8BYB"
    ></script>
    <script type="text/partytown">
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());
        gtag("config", "G-ZHW2LJ8BYB");
    </script>
    <script src="../../script.js" defer></script>
</head>
<Layout title="About - Lance Ross">
    <main>
        <a
            class="href-image"
            href="https://github.com/lancerossdev/lanceross-xyz"
            target="_blank"
            rel="noopener nofollow"
            ><img
                class="github-logo"
                src="../../github.svg"
                alt="github logo"
            />
        </a>
        <img
            id="light-mode-toggle"
            class="light-mode-toggle"
            src="../../toggle.svg"
            alt="change theme button"
        />
        <h1>About Me</h1>
        <p>
            I'm Lance, a front-end web developer based in the Philippines. I
            enjoy building projects using good ol' HTML, CSS, and JavaScript.
            I'm currently learning different Web frameworks like <a
                href="https://tailwindcss.com"
                target="_blank"
                rel="noopener nofollow">Tailwind</a
            > and <a
                href="https://firebase.google.com"
                target="_blank"
                rel="noopener nofollow">Firebase</a
            > which are my favorite tools.
        </p>
        <p>
            When not busy with doing web development stuff, I play different
            video games, try to how to play a guitar, and does exercises every
            other day.
        </p>
        <h1>Skills</h1>
        <h2>Programming Languages</h2>
        <ul>
            <li>
                <a
                    href="https://python.org/"
                    target="_blank"
                    rel="noopener nofollow">Python</a
                > - I learned this language just for fun and as a hobby.
            </li>
            <li>
                <a
                    href="https://javascript.com"
                    target="_blank"
                    rel="noopener nofollow">JavaScript</a
                > - My favorite programming language!
            </li>
        </ul>
        <h2>Web Frameworks</h2>
        <ul>
            <li>
                <a
                    href="https://tailwindcss.com"
                    target="_blank"
                    rel="noopener nofollow">Tailwind</a
                > - I picked this over Bootstrap because of having control over styles.
            </li>
            <li>
                <a
                    href="https://reactjs.org"
                    target="_blank"
                    rel="noopener nofollow">React</a
                > - One of my favorite JavaScript libraries! I'm going to learn this
                soon.
            </li>
            <li>
                <a
                    href="https://firebase.google.com"
                    target="_blank"
                    rel="noopener nofollow">Firebase</a
                > - I use this tool for all of my projects. I also use Vercel as
                alternative.
            </li>
        </ul>
        <h1>Biography</h1>
        <p>
            Lance Ross is a Web developer in the Philippines learning different
            web frameworks like <a
                href="https://tailwindcss.com"
                target="_blank"
                rel="noopener nofollow">Tailwind</a
            > and <a
                href="https://firebase.google.com"
                target="_blank"
                rel="noopener nofollow">Firebase</a
            >. When not busy with doing web development stuff, he plays
            different video games, learns how to play a guitar, and does
            exercises.
        </p>
        <ul role="list" id="menu" class="link-card-grid">
            <Card href="/" title="Home" body="Go back to my homepage." />
            <Card
                href="/blog"
                title="Blog"
                body="All my blog posts on dev.to"
            />
            <Card
                href="/projects"
                title="Projects"
                body="All my projects from my GitHub."
            />
            <Card
                href="/contact"
                title="Contact"
                body="Come say hi to me on my socials!"
            />
        </ul>
        <footer>
            <p>Designed and built by Lance Ross</p>
            <p>
                Built using <a
                    href="https://astro.build"
                    target="_blank"
                    rel="noopener nofollow">Astro</a
                > and <a
                    href="https://sass-lang.com/"
                    target="_blank"
                    rel="noopener nofollow">Sass</a
                >
            </p>
        </footer>
    </main>
</Layout>
