---
import Icons from "../components/Icons.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/main.scss";
---

<Layout title="About - Lance Ross" description="I'm Lance Ross, an aspiring Frontend Web Developer from the Philippines. You can find more about me on this page.">
    <h1>About Me</h1>
    <p>
        I'm Lance Ross, an aspiring Frontend Web Developer from the Philippines. I enjoy
        building projects using good ol' HTML, CSS, and JavaScript. I started learning more stuff about computers when I was 13 years old and decided to get a job in Web Development field when I grow up. 
    </p>
    <p>
        I create websites when I have free time after school. When not busy with doing projects and schoolworks, I play different video
        games, try to how to play a guitar, and does exercises every other day.
    </p>
    <h1>Skills</h1>
    <h2>Programming Languages</h2>
    <div class="beside">
        <Icons logo="logos:python" text="Python" href="https://python.org" />
        <Icons logo="logos:javascript" text="JavaScript" href="https://javascript.com" />
        <!-- <Icons logo="logos:typescript-icon" text="Typescript" /> --> <!--Didn't learned TS yet.. -->
    </div><br />
    <h2>Libraries and Tools</h2>
    <div class="beside">
        <!-- <Icons logo="logos:react" text="React" /> --> <!--Didn't learned React yet.. -->
        <Icons logo="logos:tailwindcss-icon" text="Tailwind CSS" href="https://tailwindcss.com" />
        <Icons logo="logos:firebase" text="Firebase" href="https://firebase.google.com"/>
        <Icons logo="vscode-icons:file-type-astro" text="Astro" href="https://astro.build"/>
        <Icons logo="logos:nodejs-icon" text="Node.js" href="https://nodejs.org"/>
    </div>
    <h1>Biography</h1>
    <p>
        Lance Ross is a teenager in Philippines who aspires to be a web developer when he grow up. He creates websites when he has free time after school. When not busy with doing projects and schoolworks, He plays different video
        games, try to how to play a guitar, and does exercises every other day.
    </p>
</Layout>
