---
import SEO from '../SEO.astro';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---
<head>
    <SEO
      title="Blog - Lance Ross"
      description="This is where you can find my blogs from Dev Community (dev.to)."/>  
</head>

<Layout title="Blog - Lance Ross">
	<main>
		<h1>Welcome to my blog</h1>
		<p>You can find my blogs on my <a href="https://dev.to/lanceross" target="_blank" rel="noopener nofollow">Dev Community</a> because I don't really know how to set up a Headless CMS on my website..</p>
		<p>I don't know how to customize the project cards so this design will work for now..</p>
		<ul role="list" class="big-card-grid">
			<Card
				href="https://dev.to/lanceross/hello-20gp/"
				title="Hello! - Aug 10 2022"
				body="Hello all! I am Lance and I just started to learn Web Development and also created my dev.to just a few weeks ago..."
			/>
		</ul>
		<br>
		<hr>
		<ul role="list" id="menu" class="link-card-grid">
			<Card
				href="/"
				title="Home"
				body="Go back to my homepage."
			/>
			<Card
				href="/about"
				title="About"
				body="If you want to know more about me, click here."
				
			/>
			<Card
				href="/projects"
				title="Projects"
				body="Here are all my projects from my GitHub."
			/>
			<Card
				href="/contact"
				title="Contact"
				body="Come say hi to me and follow with my socials!"
			/>
		</ul>
        <footer>
            <p>Designed and built by Lance Ross</p>
            <p>Built using <a href="https://astro.build" target="_blank" rel="noopener nofollow">Astro</a> and <a href="https://sass-lang.com/" target="_blank" rel="noopener nofollow">Sass</a></p>
        </footer>
	</main>
</Layout>
