---
import SEO from "../SEO.astro";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<head>
    <SEO
        title="Contact - Lance Ross"
        description="You can find my contact details and also my social media accounts here."
    />
    <!-- Google tag (gtag.js) -->
    <script
        type="text/partytown"
        src="https://www.googletagmanager.com/gtag/js?id=G-ZHW2LJ8BYB"
    ></script>
    <script type="text/partytown">
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());
        gtag("config", "G-ZHW2LJ8BYB");
    </script>
	<script src="../../script.js" defer></script>
</head>

<Layout title="Contact - Lance Ross">
    <main>
        <a
            class="href-image"
            href="https://github.com/lancerossdev/lanceross-xyz"
            target="_blank"
            rel="noopener nofollow"
            ><img
                class="github-logo"
                src="../../github.svg"
                alt="github logo"
            />
        </a>
        <img
            id="light-mode-toggle"
            class="light-mode-toggle"
            src="../../toggle.svg"
            alt="change theme button"
        />
        <h1>Get In Touch</h1>
        <p>
            Come say hi to me or you can follow my accounts. I might not be able
            to reply to your email right away but I will do my best to reply!
        </p>
        <ul>
            <li>
                GitHub - <a
                    href="https://github.com/lancerossdev"
                    target="_blank"
                    rel="noopener nofollow">@lancerossdev</a>
            </li>
            <li>
                Twitter - <a
                    href="https://twitter.com/lancerossdev"
                    target="_blank"
                    rel="noopener nofollow">@lancerossdev</a>
            </li>
            <li>
                Dev Community - <a
                    href="https://dev.to/lanceross"
                    target="_blank"
                    rel="noopener nofollow">@lanceross</a>
            </li>
            <li>
                Codepen - <a
                    href="https://codepen.io/lancerossdev"
                    target="_blank"
                    rel="noopener nofollow">@lancerossdev</a>
            </li>
            <li>
                Email - <a
                    id="tooltip"
                    class="tooltip inactive"
                    onclick="getEmail()">Please enable JavaScript</a>
            </li>
        </ul>
        <ul role="list" id="menu" class="link-card-grid">
            <Card href="/" title="Home" body="Go back to my homepage." />
            <Card
                href="/about"
                title="About"
                body="If you want to know stuff about me."
            />
            <Card
                href="/blog"
                title="Blog"
                body="All my blog posts on dev.to"
            />
            <Card
                href="/projects"
                title="Projects"
                body="All my projects from my GitHub."
            />
        </ul>
        <footer>
            <p>Designed and built by Lance Ross</p>
            <p>
                Built using <a
                    href="https://astro.build"
                    target="_blank"
                    rel="noopener nofollow">Astro</a
                > and <a
                    href="https://sass-lang.com/"
                    target="_blank"
                    rel="noopener nofollow">Sass</a>
            </p>
        </footer>
    </main>
</Layout>
