---
import SEO from '../SEO.astro';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---
<head>
    <SEO
      title="Contact - Lance Ross"
      description="You can find my contact details and also my social media accounts here."/>  
</head>

<Layout title="Contact - Lance Ross">
	<main>
        <h1>Get In Touch</h1>
		<p>Come say hi to me or you can follow my accounts. I might not be able to reply to your email right away but I will do my best to reply!</p>
        <ul>
            <li>GitHub - <a href="https://github.com/lancerossdev" target="_blank" rel="noopener nofollow">@lancerossdev</a></li>
            <li>Twitter - <a href="https://twitter.com/lancerossdev" target="_blank" rel="noopener nofollow">@lancerossdev</a></li>
            <li>Dev Community - <a href="https://dev.to/lanceross" target="_blank" rel="noopener nofollow">@lanceross</a></li>
			<li>Email - <a id="tooltip" class="tooltip inactive" onclick="myFunction()">Click to copy</a></li>
        </ul><br>
		<hr>
		<ul role="list" id="menu" class="link-card-grid">
			<Card
				href="/"
				title="Home"
				body="Go back to my homepage."
			/>
			<Card
				href="/about"
				title="About"
				body="If you want to know more about me, click here."
				
			/>
			<Card
				href="/blog"
				title="Blog"
				body="I have a blog on Dev Community! You should visit it."
			/>
			<Card
				href="/projects"
				title="Projects"
				body="Here are all my projects from my GitHub."
			/>
		</ul>
        <footer>
            <p>Designed and built by Lance Ross</p>
            <p>Built using <a href="https://astro.build" target="_blank" rel="noopener nofollow">Astro</a> and <a href="https://sass-lang.com/" target="_blank" rel="noopener nofollow">Sass</a></p>
        </footer>
	</main>
</Layout>
<script lang="js">
	function myFunction() {
		let email = 'zyx.ssorecnal@ecnal';
		
		let tempInput = document.createElement('INPUT');
		document.body.appendChild(tempInput);
		tempInput.setAttribute('value', email.split('').reverse().join(''));
		tempInput.select();
		tempInput.setSelectionRange(0, 99999);
		document.execCommand('copy');
		document.body.removeChild(tempInput);

		var tooltip = document.getElementById("tooltip");
		tooltip.classList.add('active');
		setTimeout(() => {
			tooltip.classList.remove('active');
		}, 2000);
	}
</script>
