---
import Icons from "../components/Icons.astro";
import { Icon } from 'astro-icon';
import Layout from "../layouts/Layout.astro";
import "../styles/main.scss";
---

<Layout title="Contact - Lance Ross" description="You can find my contact details and also my social media accounts here.">
    <h1>Get In Touch</h1>
    <p>
        Come say hi to me or you can follow my accounts. I might not be able to
        reply right away because I have school every weekdays but I will do my best to reply on DMs and emails! If you want to email me something, <a id="tooltip" class="tooltip inactive" onclick="getEmail()">Please enable JavaScript</a>.
    </p>
    <div class="beside">
        <Icons logo="twitter" href="https://twitter.com/lancerossdev" text="@lancerossdev" />
        <Icons logo="github" href="https://github.com/lancerossdev" text="@lancerossdev"/>
        <Icons logo="devto" href="https://dev.to/lanceross" text="@lanceross"/>
        <Icons logo="codepen" href="https://codepen.io/lancerossdev" text="@lancerossdev" />
    </div>
    <script src="../../scripts/email.js" defer></script>
</Layout>
