---
import Layout from "../layouts/Layout.astro";
import "../styles/main.scss";
---

<Layout description="I am an aspiring Front-end JavaScript web developer in the Philippines. This is my website made in Astro and Sass.">
    <div class="hero-section">
        <img class="hero" src="../../images/hero.jpg" alt="smol ame starting" />
        <article>
            <h1>
                Hello! I'm <span class="text-gradient">Lance Ross</span>
            </h1>
            <p>
                Welcome to my home on the internet. I am an
                aspiring web developer in the Philippines building
                different projects for fun when not busy with school.
            </p>
        </article>
    </div>
</Layout>
