---
import SEO from '../SEO.astro';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---
<head>
    <SEO
      title="Lance Ross - Web Developer"
      description="I am an aspiring Front-end JavaScript web developer in the Philippines. This is my website made in Astro and Sass."
	  canonical="https://lanceross.xyz"
	  extend={{ meta: [{ name: "og:title", content: "Lance Ross - Web Dev" }, { name: "og:description", content: "I am an aspiring Front-end JavaScript web developer in the Philippines. This is my website made in Astro and Sass." }, { name: "twitter:title", content: "Lance Ross - Web Dev" }, { name: "twitter:description", content: "I am an aspiring Front-end JavaScript web developer in the Philippines. This is my website made in Astro and Sass." }] }}
	  />  
</head>

<Layout title="Lance Ross - Web Developer">
	<main>
		<div class="hero-section">
			<img class="hero" src="../../hero.jpg" alt="">
			<article>
				<h1>Hi! I'm <span class="text-gradient">Lance Ross</span></h1>
				<p>I am an aspiring Front-end JavaScript web developer in the Philippines building different Web applications for fun.
				I'm currently learning <a href="https://angular.io" target="_blank" rel="noopener nofollow">Angular</a> and <a href="https://firebase.google.com" target="_blank" rel="noopener nofollow">Firebase</a> which are my favorite tools for Web development by Google.</p>
			</article>
		</div>
		<ul role="list" id="menu" class="link-card-grid">
			<Card
				href="/about"
				title="About"
				body="If you want to know more about me, click here."
				
			/>
			<Card
				href="/blog"
				title="Blog"
				body="I have a blog on Dev Community! You should visit it."
			/>
			<Card
				href="/projects"
				title="Projects"
				body="Here are all my projects from my GitHub."
			/>
			<Card
				href="/contact"
				title="Contact"
				body="Come say hi to me and follow with my socials!"
			/>
		</ul>
		<footer>
            <p>Designed and built by Lance Ross</p>
            <p>Built using <a href="https://astro.build" target="_blank" rel="noopener nofollow">Astro</a> and <a href="https://sass-lang.com/" target="_blank" rel="noopener nofollow">Sass</a></p>
        </footer>
	</main>
</Layout>