---
import Layout from "../layouts/Layout.astro";
import BigCard from "../components/BigCard.astro";
---

<Layout
    title="Projects - Lance Ross"
    description="Here are all my projects from my GitHub account."
>
    <h1 class="text-4xl mb-4">My Projects 📚</h1>
    <p>
        You can find here all my projects from GitHub. I usually create Web apps
        and Static sites. Each projects have a link on their repositories so you can visit the project on your browser. You can check all my projects in <a
            href="https://github.com/lancerossdev?tab=repositories"
            target="_blank"
            rel="noopener nofollow"
            class="text-blue-600 dark:text-blue-300">GitHub</a
        >.
    </p><br />
    <ul role="list" class="grid">
        <BigCard
            href="https://github.com/lancerossdev/science-project/"
            title="science-project"
            body="This is a project for my school in science."
        />
        <BigCard
            href="https://github.com/lancerossdev/lanceross-xyz/"
            title="lanceross-xyz"
            body="This is my new website which you are looking right now!"
        />
        <BigCard
            href="https://github.com/lancerossdev/old-website/"
            title="old-website"
            body="This is my old website made with HTML and Sass"
        />
    </ul><br />
</Layout>
