---
import Layout from "@layouts/Layout.astro";
import ProjectCard from "@components/ProjectCard.astro";
---

<Layout title="Projects - Lance Ross" description="Here are all my projects from my GitHub account.">
  <h1 class="text-4xl mb-6">My Projects 📚</h1>
  <p class="dark:text-zinc-300">
    These are all projects that I own and contribute to during my free time. Each projects have a link on their repositories so you can visit the project on your browser. You can check all my
    projects in <a href="https://github.com/lancerossdev?tab=repositories" target="_blank" rel="noopener nofollow" class="text-blue-600 dark:text-blue-300">GitHub</a>.
  </p><br />
  <ul role="list" class="grid">
    <ProjectCard title="lanceross-xyz" projectUrl="https://lanceross.xyz" githubUrl="https://github.com/lancerossdev/lanceross-xyz" description="Personal Website" />
  </ul><br />
</Layout>
