---
export interface Props {
    title: string;
    body: string;
    href: string;
}

const { href, title, body } = Astro.props;
---
<li class="list-none flex p-1 dark:bg-[#181a23] bg-[#e0e0e0] rounded-2xl m-3">
    <a href={href} target="_blank" rel="noopener nofollow" class="w-full leading-10 py-4 px-5">
        <h2 class="m-0 text-3xl">
            {title}
        </h2>
        <p class="mt-3 mb-0">
            {body}
        </p>
    </a>
</li>
