---
import "../styles/main.scss";
export interface Props {
    title: string;
    body: string;
    href: string;
}

const { href, title, body } = Astro.props;
---

<li class="link-card">
    <a href={href} target="_blank" rel="noopener nofollow">
        <h2>
            {title}
        </h2>
        <p>
            {body}
        </p>
    </a>
</li>
<style lang="scss">
    .link-card {
        list-style: none;
        display: flex;
        padding: 0.15rem;

        a {
            width: 100%;
            line-height: 1.4;
            padding: 1em 1.3em;
            background: inherit;
            opacity: 1;

            h2 {
                margin: 0;
            }

            p {
                margin-top: 0.75rem;
                margin-bottom: 0;
            }
        }
    }
</style>
