<div class="absolute flex h-[calc(100vh-72px)] items-center justify-center py-28">
  <div class="absolute inset-0 z-0">
    <div class="absolute left-1/4 overflow-visible">
      <div class="animate-pulse-slower absolute h-[460px] w-[460px] -translate-x-1/4 rounded-full bg-teal-100/75 mix-blend-multiply blur-3xl filter dark:bg-teal-800/25"></div>
    </div>
    <div class="absolute left-3/4 overflow-visible">
      <div class="animate-pulse-slower absolute top-20 left-3/4 h-[612px] w-[612px] -translate-x-2/3 rounded-full bg-indigo-200/60 mix-blend-multiply blur-3xl filter dark:bg-indigo-900/40">
      </div>
    </div>
  </div>
  <div class="inline-block space-evenly h-[40vh] md:flex">
    <img class="inline-block rounded-full md:m-12 md:mt-14 w-[172px] h-[172px]" src="/images/hero-image.webp" alt="A picture of Marnie from Pokemon Journeys" />
    <section class="ml-1">
      <h1 class="text-4xl font-semibold my-7">Lance Ross</h1>
      <p class="phrase max-w-10 my-5">Why you don't have JavaScript enabled?</p>
      <p class="max-w-10 dark:text-zinc-300">
        Welcome to my home on the internet. I'm an aspiring web developer in the Philippines building different projects for fun with web technologies I'm currently learning.
      </p>
    </section>
  </div>
</div>
