---
import { Icon } from "astro-icon";

export interface Props {
    text: string;
    logo: string;
    href: string;
}

const { text, logo, href } = Astro.props as Props;
---

<div class="div-icons">
    <a
        class="icons-property"
        href={href}
        target="_blank" rel="noopener nofollow"
        aria-label="Logo of the Framework or Language"
    >
        <Icon name={logo} />
    </a>
    <a href={href} target="_blank" rel="noopener"><p>{text}</p></a>
</div>
