---
import { Icon } from "astro-icon";

export interface Props {
  title: string;
  description: string;
  projectUrl: string;
}

const { projectUrl, title, description } = Astro.props;
---

<div
  class="text-lg p-6 my-2 flex flex-col gap-2 dark:bg-[#14151a] hover:dark:bg-[#1a1c23] text-black dark:text-zinc-400 bg-[#efefef] hover:bg-[#e5e5e5] rounded-xl shadow-xl cursor-pointer transition"
>
  <header class="flex justify-between items-center">
    <h2 class="text-xl font-medium dark:text-white">
      {title}<a href={projectUrl} target="_blank" rel="noopener nofollow noreferrer" aria-label="link of the project"
        ><Icon name="fa:external-link-square" class="w-4 inline-block ml-2 dark:text-white text-zinc-800 hover:text-blue-500 transition-colors" />
      </a>
    </h2>
  </header>
  <p>{description}</p>
</div>
